{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
      
      <section class="page-banner songs-banner">
        <div class="container songs-banner-inner">
          <div>
            <span class="eyebrow">کتابخانه موسیقی</span>
            <h1 class="page-title">همه آهنگ‌ها</h1>
            <p class="page-desc">
              جدیدترین و محبوب‌ترین ترک‌ها را پیدا کن .
            </p>
          </div>

          <div class="songs-banner-stats">
            <div>
              <strong>{{ app_stats.album_count }}</strong>
              <span>آلبوم</span>
            </div>
            <div>
                
              <strong>{{ app_stats.genre_count }}</strong>
              <span>ژانر</span>
              
            </div>
            <div>
              <strong>{{ app_stats.artist_count }}</strong>
              <span>هنرمند</span>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <div class="list-toolbar">
            <div>
              <h2 class="section-title">لیست آلبوم ها</h2>
              <span class="text-muted">{{ app_stats.album_count }} آلبوم</span>
            </div>

            <div class="list-filters">
              
            </div>
          </div>

          <div class="track-list songs-list">
            {% for album in albums %}
            <div
              class="track-row is-top"
              data-artist="{{ album.artist.title }} "
              data-cover="{{ album.cover.url }}"
              data-duration="{{ album.duration }}"
              data-genre="{{ album.genre.first }}"
              data-popularity="94"
              data-src="{{ album.audio_file.url }}"
              data-title="{{ album.title }}"
              data-track=""
            >
              <span class="idx rank-badge">{{ forloop.counter }}</span>

              <a class="cover-sm" href="{% url 'music:album_detail' album.slug %}">
                <img alt="{{ album.title }}" src="{{ album.cover.url }}" />
              </a>

              <div class="meta">
                <h4><a href="{% url 'music:album_detail' album.slug %}">{{ album.title }}</a></h4>
                <a class="artist-link" href="{% url 'music:artist' album.artist.slug %}">{{ album.artist.name }}</a>
              </div>

              <div
                class="waveform mini-wave"
                data-bars="24"
                data-progress="0"
                data-seed="song1"
                data-waveform=""
                style="height: 26px"
              ></div>

              <button
                aria-label="{{ track.ttile }}"
                class="icon-btn"
                data-play-track=""
                type="button"
              >
                <svg fill="currentColor" viewbox="0 0 24 24">
                  <path d="M8 5.5v13l11-6.5-11-6.5z"></path>
                </svg>
              </button>

              
            </div>
             {% endfor %}
          </div>
        

            <nav class="pagination" aria-label="صفحه‌های آهنگ‌ها">
     
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><</a>
                    {% endif %}
                    {% for numb in page_obj.paginator.page_range %}
                    <a href="?page={{ numb }}" class="{% if page_obj.number == numb %}active{% endif %}">{{  numb }}</a>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">></a>
                    {% endif %}
            </nav>
        </div>
      </section>
    </main>

    

    <div class="global-player" data-global-player="" hidden="">
      <img
        alt=""
        class="global-player-cover"
        data-gp-cover=""
        src="{% static 'images/cover-01.svg' %}"
      />

      <div class="global-player-meta">
        <strong data-gp-title="">—</strong>
        <span data-gp-artist="">—</span>
      </div>

      <button aria-label="قبلی" class="icon-btn" data-gp-prev="" type="button">‹</button>

      <button aria-label="پخش" class="play-btn-circle" data-gp-play="" type="button">
        <svg fill="currentColor" viewbox="0 0 24 24">
          <path d="M8 5.5v13l11-6.5-11-6.5z"></path>
        </svg>
      </button>

      <button aria-label="بعدی" class="icon-btn" data-gp-next="" type="button">›</button>

      <div class="global-player-progress">
        <input
          aria-label="پیشرفت پخش"
          data-gp-progress=""
          max="100"
          min="0"
          type="range"
          value="0"
        />
        <div>
          <span data-gp-current="">۰:۰۰</span>
          <span data-gp-duration="">۰:۰۰</span>
        </div>
      </div>

      <button aria-label="بستن" class="icon-btn" data-gp-close="" type="button">×</button>

      <audio data-gp-audio="" preload="metadata"></audio>
    </div>
  </body>
</html>
{% endblock %}