{% load static %}
<!doctype html>

<html dir="rtl" lang="fa">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title %}  {% endblock %}</title>
        {% include "includes/head_references.html" %}
  </head>

  <body>
    <!-- ========== هدر ========== -->
        {% include "includes/header.html" %}
    {% block content %}

    {% endblock %}
    {% include "includes/footer.html" %}
    {% include "includes/footer_references.html" %}
  </body>
</html>